.item{
    background-color: rgb(5, 231, 156);
    margin-top: 10px;
    box-shadow: 1px 1px 2px black;
    border-radius: 0px 20px 0px 20px;
    height: 50px;
}
.itemH2{
    position: relative;
    
    /* bottom: 10px; */
    left: 20px;
}
button{
    background-color: black;
    color: yellow;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px black;
    padding: 5px;
    width: 100px;
}
.updtButton{
    background-color: rgb(254, 0, 0);
    color: rgb(254, 253, 253);
    border: none;
}
.Box2{
    margin-left: 30%;
    margin-top: 100px;
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    border-radius: 30px;
    padding: 12px;
    /* text-align: center; */
    box-shadow: 0px 0px 10px black;
}
input{
    border-radius: 10px ;
    height: 30px;
    box-shadow: 0px 0px 3px black;
}
.head{
    margin-left: 33%;
    margin-top: 50px;
    margin-bottom: -80px;
    font-size: 50px;
    color: rebeccapurple;
    text-shadow: 2px 2px 3px black;
}