.logindiv{
    /* margin-left: 40%;
    margin-top: 20%; */
    border: 2px solid;
    width: 300px;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(253, 197, 128);
    border-radius:0px 20px 0px 20px ;
    box-shadow: 5px 5px 5px black;
}
/* .logindiv button{} */
.btn{
    background-color: blue;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
}
.lgnlbl{
    font-weight: bolder;
    margin-right: 5px;
}
.lgninpt{
    border-radius: 5px;
    text-align: center;
}