input{
    height: 30px;
    width: 180px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}
.Todos{
    text-align: center;
}
.addbtn{
    background-color: green;
    border: none;
    width: 120px;
    height: 38px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    margin-left: 20px;

}
.updtbtn{
    background-color: rgb(9, 0, 128);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
    color: white;
}
.delbtn{
    background-color: rgb(245, 2, 2);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    margin-left: 10px;
}
/* span{
    display: none;
    background-color: rgb(210, 167, 251);
    padding: 5px;
    border-radius: 10px;
} */
h1:hover + span{
 display: inline;
 position: relative;
 left: 10px;
 /* bottom:50px */
}
h1{
    display: inline-block;
}